* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.headerIcon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #4c5bf2;
  font-size: 2.5rem;
}
header {
  margin-top: 2rem;
  display: grid;
  justify-content: center;
  gap: 1rem;
}

details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
}
details summary:hover {
  cursor: pointer;
  color: #4c5bf2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}


.searchRecipe {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 5px;
  font-size: 1rem;

  width: 50%;
  max-width: 600px;
}
input {
  padding: 1em 1.2em;
  border-radius: 5px;
  border: none;
  width: 90%;
  flex-grow: 1;
  min-width: 700px;
  flex-grow: 1;
}

button {
  padding: 0.9em 1.2em;
  border-radius: 8px;
  font-weight: 500;
  border: none;
  color: #f9f9f9;
  font-family: inherit;
  background-color: #404afc;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #242ff1;
  cursor: pointer;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.searchFor {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.recipes {
  display: grid;
  column-gap: 1.3rem;
  row-gap: 1.5rem;
  grid-template-columns: 1fr 1fr 1fr;
  width: 65vw;
  color: #3343f1;
  margin-bottom: 4rem;
}
.recipe {
  background-color: white;
}
.recipeImg {
  width: 100%;
  max-height: 300px;
}
.recipeDetails {
  text-align: start;
  display: grid;
  gap: 10px;
  padding: 1rem;
}

.recipeClass {
  background-color: #72c0ff96;
  border-radius: 10px;
  display: flex;
  padding-inline: 10px;
  padding-block: 2px;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
}
